.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(165, 162, 162, 0.397);
}
.courses {
  margin-top: 2rem;
  border-radius: 2rem;
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list {
  list-style: none;
  font-size: 1.9rem;
  padding: 3rem;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.89);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.89);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.89);
}

.list:hover {
  background-color: rgba(99, 148, 167, 0.2);
  text-decoration: none;
}
.home {
  padding: 2rem;
  font-size: 1.9rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 80%;
  margin-top: 2rem;
  border-radius: 2rem;
}

.iconhome {
  margin: 2rem;
}

.events {
  list-style: none;
  padding: 3rem;
  text-align: center;
  font-size: 1.9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.89);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.89);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.89);
}

.events:hover {
  font-size: 2rem;
  text-decoration: none;
}

.listEvents {
  margin-top: 2rem;
  border-radius: 2rem;
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.course {
  height: 80vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.description {
  /* border:1px solid black; */
  font-size: 2rem;
  text-align: center;
}

.description :nth-child(1) {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.buttonback{
  font-family: 'Roboto';
  background-color: rgba(252, 231, 126, 0.212);
  border-radius: 2rem;
  border:none;
  display: flex;
  align-items: center;
  padding:1rem;
  height: 4rem;
  font-size: 2rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.89);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.89);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.89);
}
.buttonback:hover{
  font-size: 2.1rem;
  transition: all 0.2s;
}

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 2rem;
  height: 80vh;
}
